* {
  padding: 0;
  margin: 0;
}

body {
  background-color: white !important;
 
}

h3 {
  color: gray;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
 background-color: white;
 border-bottom: 1px solid #D3D3D3;

 width: 1154px;
  position: fixed;
}

header nav{
text-align: center; 
}

header nav i {
  font-size: 100px;
  margin:2%;
}


div.stories {
  padding-top: 15%;
   background-color: #F5F5F5;
   height: 400px;
   width: 1154px;

   border: 1px solid #D3D3D3;
   border-radius: 3px;
}

div.stories ul {
  display: flex;
  align-items: center;
  justify-content: space-around;

  margin-top: 2%;
}

div.stories .nome-stories {
  font-size: 36px;
}

div.stories ul li img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid #c13584;

  padding: 2%;
}

/** MAIN **/
main{
  width: 1154px;
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

section ul {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0;
}

section ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feed {
  background-color: white;
   width: 1154px;
  height: 643px;

  border: 1px solid #D3D3D3;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.feed .linha-usuario{
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 4%;
  padding-right: 4%;
  width: 1154px;
}

.feed .linha-usuario p {
  font-size: 60px;
  font-weight: bolder;
  margin-top: 2%;
  margin-left: 8%;
}

.feed .linha-usuario .usuario-foto{
  display: flex;
  align-items: center;
}

.feed .linha-usuario img{
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 4px solid #c13584;

  padding: 2%;
}

.feed .imagem-principal {
   width: 1154px;
}

.feed .infos{
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 65px;
  width: 1154px;
}

div.infos ul {
  padding-left: 2%;
}

div.infos ul li i {
  }

div.infos i {
  padding-right: 2%;
  padding-top: 2%;

}

footer {

  position: fixed;
  bottom: 0;

  background-color: white;
  border: 10px solid #F5F5F5;

  width: 1154px;
  height: 120px;
}

footer nav {

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 60px;
}

footer nav i {
  padding: 2%;
}

footer nav img {
  width: 100px;
  height: 100px;

  border-radius: 50%;
  border: 4px solid black;

}

/* MEDIA QUERIES */

@media only screen and (max-width: 1154px){

}